*~
__pycache__
*egg-info*
*.pyc
.DS_Store
docs/_build/
.idea
.vscode
build/
dist/
MANIFEST
*pytest_cache*
.eggs

# WebDAV file system cache files
.DAV/

# tags files (from ctags)
tags

test/
.coverage*

# notebook stuff
*.ipynb_checkpoints*

# test csv which should be user generated
notebooks/pandas_test.csv
