# ignore all hidden files
.*
# except
!.gitignore
!.gitattributes
!.github/
!.pre-commit-config.yaml
!.copier-answers.yml

# Python
__pycache__
*.py[cod]
*$py.class

*~
__pycache__
*egg-info*
docs/_build/
build/
dist/
MANIFEST
pip-wheel-metadata
pint/testsuite/dask-worker-space
venv

# WebDAV file system cache files
.DAV/

# tags files (from ctags)
tags

test/

# notebook stuff
*.ipynb_checkpoints*

# test csv which should be user generated
notebooks/pandas_test.csv

# dask stuff
dask-worker-space

# airspeed velocity bechmark
benchmarks/hashes.txt
