language: python

python:
  - "2.7"
  - "3.2"
  - "3.3"

env:
  - NUMPY_VERSION=0
  - NUMPY_VERSION=1.6
  - NUMPY_VERSION=1.7

branches:
  only:
    - master
    - develop

install: 
    - if [ $NUMPY_VERSION != '0' ]; then pip install -q numpy==$NUMPY_VERSION; fi
    - pip install . --use-mirrors

script: python setup.py test

matrix:
    # Don't run with these version combinations as these NumPy packages don't seem to be installable with Travis
    exclude:
        - python: "3.2"
          env: NUMPY_VERSION=1.6
        - python: "3.3"
          env: NUMPY_VERSION=1.6
