language: python

python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"

env:
  - UNCERTAINTIES="N" NUMPY_VERSION=0
  - UNCERTAINTIES="N" NUMPY_VERSION=1.6.2
  - UNCERTAINTIES="N" NUMPY_VERSION=1.7.1
  - UNCERTAINTIES="N" NUMPY_VERSION=1.8.1
  - UNCERTAINTIES="Y" NUMPY_VERSION=0
  - UNCERTAINTIES="Y" NUMPY_VERSION=1.6.2
  - UNCERTAINTIES="Y" NUMPY_VERSION=1.7.1
  - UNCERTAINTIES="Y" NUMPY_VERSION=1.8.1

branches:
  only:
    - master
    - develop

before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda/bin:$PATH
  - conda update --yes conda

  # The next couple lines fix a crash with multiprocessing on Travis and are not specific to using Miniconda
  - sudo rm -rf /dev/shm
  - sudo ln -s /run/shm /dev/shm

  - export ENV_NAME=travis

install:
  - conda create -c mwcraig --yes -n $ENV_NAME python=$TRAVIS_PYTHON_VERSION pip
  - source activate $ENV_NAME
  - if [ $TRAVIS_PYTHON_VERSION == '2.6' ]; then pip install unittest2; fi
  - if [ $UNCERTAINTIES == 'Y' ]; then pip install uncertainties; fi
  - if [ $NUMPY_VERSION != '0' ]; then conda install -c mwcraig --yes numpy==$NUMPY_VERSION; fi
  - pip install coverage coveralls

script:
  - coverage run -p --source=pint --omit="*test*","*compat*" setup.py test
  - coverage combine
  - coverage report -m

after_script:
  - coveralls --verbose

matrix:
  exclude:
    - python: "3.3"
      env: UNCERTAINTIES="Y" NUMPY_VERSION=1.6.2
    - python: "3.4"
      env: UNCERTAINTIES="Y" NUMPY_VERSION=1.6.2
    - python: "3.4"
      env: UNCERTAINTIES="Y" NUMPY_VERSION=1.7.1
    - python: "3.3"
      env: UNCERTAINTIES="N" NUMPY_VERSION=1.6.2
    - python: "3.4"
      env: UNCERTAINTIES="N" NUMPY_VERSION=1.6.2
    - python: "3.4"
      env: UNCERTAINTIES="N" NUMPY_VERSION=1.7.1
