include README AUTHORS CHANGES LICENSE CHANGES_DEV README.rst BADGES.rst
recursive-include pint *
recursive-include docs *
recursive-include bench *
prune docs/_build
prune docs/_themes/.git
global-exclude *.pyc *~ .DS_Store *__pycache__* *.pyo .travis-exclude.yml
