include AUTHORS CHANGES LICENSE README.rst BADGES.rst version.txt .coveragerc .readthedocs.yaml
recursive-include pint *
recursive-include docs *
recursive-include bench *
prune docs/_build
prune docs/_themes/.git
exclude .editorconfig bors.toml pull_request_template.md requirements_docs.txt version.py
global-exclude *.pyc *~ .DS_Store *__pycache__* *.pyo .travis-exclude.yml
