sphinx>4
ipython<=8.12
matplotlib
mip>=1.13
nbsphinx
numpy
pytest
jupyter_client
ipykernel
ipython
graphviz
xarray
pooch
sparse
dask[complete]
setuptools>=41.2
Serialize
pygments>=2.4
sphinx-book-theme==0.3.3
sphinx_copybutton
sphinx_design
