sphinx<8
ipython<=8.12
matplotlib
scipy
nbsphinx
numpy
pytest
jupyter_client
ipykernel
graphviz
xarray
pooch
sparse
# Impose Dask < 2025.3.0, otherwise it causes "RuntimeError: Attempting to use an asynchronous Client in a synchronous context of `dask.compute`" (see Issue #1016 in Dask).
dask[complete]<2025.3.0
setuptools>=41.2
Serialize
pygments>=2.4
sphinx-book-theme>=1.1.0
sphinx_copybutton
sphinx_design
typing_extensions
sciform
scipy
