sphinx>=6,<8.2
ipython<=8.12
nbsphinx
jupyter_client
ipykernel
graphviz
pooch
Serialize
pygments>=2.4
sphinx-book-theme>=1.1.0
sphinx_copybutton
sphinx_design
docutils
commonmark==0.8.1
recommonmark==0.5.0
babel
sciform
scipy
currencyconverter
matplotlib
numpy
xarray
optype[numpy]
