name: Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - name: Lint
        uses: pre-commit/action@v2.0.0
        with:
          extra_args: --all-files --show-diff-on-failure
